        <div class="container-fluid">
            {{ range .Site.Sections }}
            {{ if eq .Title "Rows" }}
            {{ range .Pages }}
            <div class="p-3 row">
                <div class="col-sm-12">
                    <h2 class="p-3 mt-2 mb-2 bg-secondary text-white text-center">{{ .Params.Col1Label }}</h2>
                </div>
            </div>
            <div class="p-3 row" style="height:{{ mul .Params.height 9 }}vw">
                {{ range $colNum := (seq 12) }}
                {{ . }}
                {% capture colNumWidth %}col{{ colNum }}Width{% endcapture %}
                {% if row.data[colNumWidth] > 0 %}
                {% capture colNumType %}col{{ colNum }}Type{% endcapture %}
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
