        <div class="container-fluid">
            {{ range .Site.Sections }}
                {% if .Title == "Rows" %}
                {{ range .Pages }}
                <div>{{ .Title }}</div>
                {{ end }}
            {{ end }}
            {% assign rowNum = 1 %}
            {% for row in collections.row %}
            {% if row.data.title != blank and row.data.title != "" and row.data.title != "-" %}
            <div class="p-3 row">
                <div class="col-sm-12">
                    A row!
                </div>
            </div>
            {% endif %}
            {% assign rowNum = rowNum | plus: 1 %}
            {% endfor %}
        </div>
